/.vs/TestProject/FileContentIndex/00b88176-13fc-4047-b86f-89a20b90f380.vsidx
/.vs/TestProject/FileContentIndex/b944cd24-c886-4e64-9513-f1f057d7fba4.vsidx
/.vs/TestProject/FileContentIndex/b944cd24-c886-4e64-9513-f1f057d7fba4.vsidx
/.vs/TestProject/FileContentIndex/b944cd24-c886-4e64-9513-f1f057d7fba4.vsidx
/TestLinq/bin/Debug/net6.0/TestLinq.dll
/TestLinq/bin/Debug/net6.0/TestLinq.pdb
/TestLinq/obj/Debug/net6.0/TestLinq.dll
/TestLinq/obj/Debug/net6.0/TestLinq.pdb
